body{
    margin: 0;
    padding: 0;
}
.bg-1{
    background-color: #23232e;
    padding: 20px 20%;
    text-align: center;
    margin: 10px;
    overflow: hidden;
}
p{
    color: #888a8b;
}

.bg-2{
    background-color: white;
    color: #888a8b;
    text-align: center;
    padding: 20px 20%;
}
h2{
    text-transform: uppercase;
    padding-top: 30px;

}

/* header section */
.nav p{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding-bottom: 10px;
}
.nav h2{
    color: white;
}
.nav img{
    width: 10%;
    padding-top: 30px;
}
.nav i{
    border: 1px solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 8px 10px;
    color: white;

}



/* whart i do section */
.what .txt{
    font-size: 20px;
    padding: 0 40px;
    text-align: center;
    
}

.what .col{
    width: 29%;
    margin: 2%;
    float: left;
    text-align: justify;
    
}
.what .col h4{
    text-transform: uppercase;
    font-size: 15px;

}
.what .col p{
    font-size: 12px;

}


/* work section */

.work{
    color: white;
    text-align: center;
}
.work .menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
} 
.work .menu ul li{
    float: left;
    padding: 0;
    
}   
.work .menu ul li a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
    text-transform: capitalize;
    
}


.work .col{
    width: 29.33%;
    margin: 2%;
    float: left;
    text-align: center;
    
}
.work .col img{
    width: 100%;
}
.work .col h4{
    text-transform: capitalize;
    font-size: 15px;
}
.work .col p{
    font-size: 10px;
}

.work button{
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 8px;
    border: none;
}



/* photography section */
.photo .col{
    width: 29.33%;
    margin: 2%;
    float: left;
    text-align: center;
    
}
.photo .col img{
    width: 100%;
}
.photo button{
    background-color: rgb(101, 101, 189);
    color: white;
    border: none;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
}

/* subscribe part */

.subscribe input{
    padding: 10px 20px;
    border-radius: 5px 0 0 5px;
    color: white;
    font-size: 13px;
    margin-right: -4px;

    

}
.subscribe button{
    padding: 10px 20px;
    background-color: rgb(101, 101, 189);
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    font-size: 13px;
}
.subscribe p{
    color: white;
}
.subscribe i{
    color: blue;
    width: 40px;
}


/* footer area work */

.footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 350px;

}
.footer ul li{
    float: left;
    padding: 0 20px;
}
.footer ul li a{
    font-size: 15px;
    color: #888a8b;
}